
.body
{
    margin: 0px;
    padding: 0px;
    background-color: rgb(225, 225, 225);
}

.AllJobProfile_container
{
    margin-left: 50px;
    display: flex;
    gap: 50px;
    flex-direction: row;
    justify-content:start;

    flex-wrap: wrap;
    margin-top: 20px;
}
.JobProfile_container{
   
    display: flex;
    border: 1px black;
    background-color:whitesmoke;
    height: 110px;
    width: 320px;
    display: flex;
    position: relative;
    margin-top: 13px;
    box-shadow: 0px 0px 5px 0px grey;
}
.Company_logo
{
    height: 65px;
    width: 65px;
    margin: 20px;
    box-shadow: 0px 0px 5px 0px grey;
    border-radius: 5px; 
    cursor: pointer;   
}

.Role
{
    font-size: 18px;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 15px;
    margin-left: -5px;
    color: #2170f0;
    font-weight: bold;
    cursor: pointer;
}

.Company_name
{
    
    font-size: 18px;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 42px;
    color:  rgb(8, 8, 8);
    margin-left: -185px;

}
.Job_Location
{
    font-size: 12px;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 65px;
    color: grey;
    margin-left: -185px;
}

.Price
{
    color: black;
    font-weight: bold;
    font-size: 18px;

}
.recruiting_continer
{
    display: flex;
    align-items: center;
   
    margin-top:60px ;
    margin-left: -170px;
    gap: 5px;
    
}


