
.body
{
    margin: 0px;
    padding: 0px;
    background-color: rgb(225, 225, 225);
}

.AllJobProfile_container
{
    margin-left: 50px;
    display: flex;
    gap: 50px;
    flex-direction: row;
    justify-content:start;

    flex-wrap: wrap;
    margin-top: 20px;
}

